*{
	padding: 0;
	margin: 0px;
	box-sizing: border-box;	
}
img {
	max-width: 100%;
	height: auto;
}
video{
	max-width: 100%;
}
.total{
	max-width: 1500px;
	margin: 0 auto;
	clear: both;
}
.banner{
	max-width: 1500px;
	margin: auto;
}
	/**menu**/
.navi{
	max-width: 1500px;
}
.menu{
	text-align: center;
	background-color: #268ce0;
}
.menu li{
	display: inline;
	padding:10px 10px 0px 10px;
	font-size: 20px;
}
ul li a{
	text-decoration: none;
	color: #fff;
}
ul li a:hover{
	color: red;
	text-decoration: none;
}
menu ul{
	list-style: none;
}
	/**end-menu**/
.autobar{
	max-width: 1500px;
	color: red;
	background-color:#efefef; 
}
	/**content**/
.content{
	max-width: 1100px;
	margin:auto;
}
	/**block-1**/
.block-1{
	max-width: 1100px;
	margin: auto;
	margin-top: 15px;
}
.block-1-left{
	max-width: 65%;
	float: left;
}
.title-block-1-left{
	border-bottom-style:solid;
	border-bottom-color: #efefef;
	padding-bottom:10px;
	margin-bottom: 20px;
	color: #074684;
	font-weight: bold;
}
.block-1-left-bottom{
	max-width: 65%;
	float: left;
}
.grid-container-left {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top:10px;
}
.grid-item-left {
	margin: auto;
	color: blue;
	padding-right: 15px;
}
.block-1-right{
	max-width: 35%;
	float: right;
	padding-left: 25px;
}
.grid-container-right {
  	display: grid;
  	grid-template-columns: auto auto;
}
.grid-item-right {
	border-bottom-style:solid;
	border-bottom-color: #efefef;
	margin-bottom: 20px;
	color: blue;
	padding: 5px 5px 5px 0;
}
	/**block-2**/
.block-2{
	max-width: 1100px;
}
	/**block-3**/
.block-3{
	max-width: 1100px;
	margin: auto;
	margin-top: 15px;
}
.block-3-content-left{
	max-width: 60%;
	margin :20px 0 0 0;
	float: left;
}
.grid-container-block-3 {
  display: grid;
  margin-top: 10px;
  grid-template-columns: auto auto auto;	
}
.grid-item-block-3 {
	margin:auto 0;
	margin: 0 20px 0 0;
	font-size: 100%;
}
h6 {
	color: blue;
}
.linkdetail{
	text-decoration: underline;
}
.linkdetail:hover{
	color: red;
}
.block-3-content-right{
	max-width: 40%;
	margin :20px 0 0 0;
	float: right;	
}
.text{
	color: #736f6f;
}
.title-block-3-content-left-1dot3{
	color: blue;
}


.block-4{
	max-width: 1100px;
	margin: auto;
	margin-top: 15px;
	float: left;
}
.grid-container-block-4 {
  	display: grid;
  	grid-template-columns: auto auto auto;
  	padding-right: 0px;
}
.grid-item-block-4 {
	 color: black;
	 font-weight: bold;
	 text-align: center;
	 padding:0 15px 0 0;
}


.block-5{
	max-width: 1100px;
	margin: auto;
	margin-top: 15px;
	float: left;
}
.total-block-5-content-left{
	max-width: 35%;
	float: left;
	padding-right: 15px;
}
.block-5-content-left-top{
	max-width: 100%;
	color: #fff;
}
.fr{
	background-color: #167ccb;
	text-align: center;
}
.title-form-1{
	padding-top: 10px;
}
.title-form-2{
	padding: 10px 30px 0 30px;
}
.tb{
	margin: auto;
}
tr td input {
	margin: 25px;
	margin-top: 25px;
}
form,table{
	max-width: 100%;
}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
.block-5-content-left-bottom{
	max-width: 100%;
}
.list{
	list-style-type: none;
	padding-top:10px;

}
.list-dr{
	color: white!important;
	line-height:30px;
	border-right:1px solid;
	margin-top: 30px;
	background-color: #167ccb;
	padding-left: 15px;
}
.list-dr:hover{
	background-color:#d3dbe6;
	color: red;
}
.total-block-5-content-right{
	max-width: 65%;
	float: right;
}
.block-5-content-right-bottom-1{
	float: left;
	max-width: 60%;
	padding-right:15px;
}
.block-5-content-right-bottom-2{
	max-width: 40%;
	float:right;
}
.block-6{
	max-width: 1100px;
	margin: auto;
	float: left;
	background-color: #1361a3;
	color: #fff;
}
.content-block-6{
	max-width: 1100px;
	margin: auto;
	padding-bottom: 10px;
}
.col-1-5-block-6{
	max-width: 20%;
	float: left;
	border-right: 1px solid #fff;
}
.col-1-5-block-6:last-child{
	border-right: none;
	padding-left:10px;
}
.col-1-5-block-6:first-child{
	padding-left:0px;
}
.stylelist{
	list-style: none;
	padding:0 30px 0 40px;
}
.hihi{
	padding-bottom: 1px;
	max-width: 1100px;
	float: left;
}

